In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', 200)

In [2]:

df=pd.read_csv('1.csv')
df2=pd.read_csv('2.csv')
df3=pd.read_csv('3.csv')
df4=pd.read_csv('4.csv')
df5=pd.read_csv('5.csv')
df6=pd.read_csv('6.csv')
df7=pd.read_csv('7.csv')
df8=pd.read_csv('8.csv')
df9=pd.read_csv('9.csv')
df10=pd.read_csv('10.csv')
df11=pd.read_csv('11.csv')
df12=pd.read_csv('12.csv')
df13=pd.read_csv('13.csv')
df14=pd.read_csv('14.csv')
df15=pd.read_csv('15.csv')
df16=pd.read_csv('16.csv')
df17=pd.read_csv('17.csv')
df18=pd.read_csv('18.csv')
df19=pd.read_csv('19.csv')

C:\Users\Rhythm Shah\AppData\Local\Temp\ipykernel_11032\3519543691.py:5: DtypeWarning: Columns (1,4) have mixed types. Specify dtype option on import or set low_memory=False.
  df5=pd.read_csv('5.csv')
C:\Users\Rhythm Shah\AppData\Local\Temp\ipykernel_11032\3519543691.py:16: DtypeWarning: Columns (1,4) have mixed types. Specify dtype option on import or set low_memory=False.
  df16=pd.read_csv('16.csv')

In [3]:
print(df.head)

<bound method NDFrame.head of        Reading values             Profile               Reading time  \
0            2,29,000                 NaN  2022-04-01T01:10:00+02:00
1            2,31,900                 NaN  2022-04-01T01:10:00+02:00
2            2,26,500                 NaN  2022-04-01T01:10:00+02:00
3            2,32,200                 NaN  2022-04-01T01:10:00+02:00
4            2,31,000                 NaN  2022-04-01T01:10:00+02:00
...               ...                 ...                        ...
134556          0,000  Daily Load Profile  2022-06-01T01:00:00+02:00
134557          0,039  Daily Load Profile  2022-06-01T01:00:00+02:00
134558          0,080  Daily Load Profile  2022-06-01T01:00:00+02:00
134559          0,056  Daily Load Profile  2022-06-01T01:00:00+02:00
134560          0,000  Daily Load Profile  2022-06-01T01:00:00+02:00

                      Insert time               Capture time        OBIS code  \
0       2022-04-01T02:34:23+02:00                        NaN  1-0:32.24.0*255
1       2022-04-01T02:34:23+02:00                        NaN  1-0:32.26.0*255
2       2022-04-01T02:34:23+02:00                        NaN  1-0:32.23.0*255
3       2022-04-01T02:34:23+02:00                        NaN  1-0:52.24.0*255
4       2022-04-01T02:34:23+02:00                        NaN  1-0:72.24.0*255
...                           ...                        ...              ...
134556  2022-06-01T02:12:31+02:00  2022-06-01T01:00:00+02:00   1-0:43.7.0*255
134557  2022-06-01T02:12:31+02:00  2022-06-01T01:00:00+02:00   1-0:63.7.0*255
134558  2022-06-01T02:12:31+02:00  2022-06-01T01:00:00+02:00   1-0:24.7.0*255
134559  2022-06-01T02:12:31+02:00  2022-06-01T01:00:00+02:00   1-0:44.7.0*255
134560  2022-06-01T02:12:31+02:00  2022-06-01T01:00:00+02:00   1-0:64.7.0*255

        Unit  Transformer factor Status word Reading reason     Data source
0          V                   1   No errors       Periodic  DLMS Connector
1          V                   1   No errors       Periodic  DLMS Connector
2          V                   1   No errors       Periodic  DLMS Connector
3          V                   1   No errors       Periodic  DLMS Connector
4          V                   1   No errors       Periodic  DLMS Connector
...      ...                 ...         ...            ...             ...
134556  kvar                   1   No errors       Periodic  DLMS Connector
134557  kvar                   1   No errors       Periodic  DLMS Connector
134558  kvar                   1   No errors       Periodic  DLMS Connector
134559  kvar                   1   No errors       Periodic  DLMS Connector
134560  kvar                   1   No errors       Periodic  DLMS Connector

[134561 rows x 11 columns]>

In [4]:
df.shape

(134561, 11)

In [5]:
con_df1=pd.concat([df,df2,df3,df4,df5,df6,df7,df8,df9])
con_df2=pd.concat([df10,df11,df12,df13,df14])
con_df3=pd.concat([df15,df16,df17,df18,df19])
con_df=pd.concat([df,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14,df15,df16,df17,df18,df19])

In [6]:
c=list(con_df.columns)
print(c)

['Reading values', 'Profile', 'Reading time', 'Insert time', 'Capture time', 'OBIS code', 'Unit', 'Transformer factor', 'Status word', 'Reading reason', 'Data source']

In [7]:
data_cols=['Reading time', 'Insert time',  'Capture time', 'Unit', 'Profile', 'Reading values', 'OBIS code', 'Status word', 'Reading reason']
alldata_cols=['Reading date','Reading time','Unit', 'Profile', 'Reading values', 'OBIS code', 'Status word', 'Reading reason']

In [8]:
con_df=con_df.reindex(columns=data_cols)
con_df1=con_df1.reindex(columns=data_cols)
con_df2=con_df2.reindex(columns=data_cols)
con_df3=con_df3.reindex(columns=data_cols)

In [9]:
c=list(con_df.columns)
print(c)

['Reading time', 'Insert time', 'Capture time', 'Unit', 'Profile', 'Reading values', 'OBIS code', 'Status word', 'Reading reason']

In [10]:
con_df.head

<bound method NDFrame.head of                      Reading time                Insert time  \
0       2022-04-01T01:10:00+02:00  2022-04-01T02:34:23+02:00
1       2022-04-01T01:10:00+02:00  2022-04-01T02:34:23+02:00
2       2022-04-01T01:10:00+02:00  2022-04-01T02:34:23+02:00
3       2022-04-01T01:10:00+02:00  2022-04-01T02:34:23+02:00
4       2022-04-01T01:10:00+02:00  2022-04-01T02:34:23+02:00
...                           ...                        ...
107609  2022-09-01T01:00:00+02:00  2022-09-01T02:17:32+02:00
107610  2022-09-01T01:00:00+02:00  2022-09-01T02:17:32+02:00
107611  2022-09-01T01:00:00+02:00  2022-09-01T02:17:32+02:00
107612  2022-09-01T01:00:00+02:00  2022-09-01T02:17:32+02:00
107613  2022-09-01T01:00:00+02:00  2022-09-01T02:17:32+02:00

                     Capture time  Unit             Profile Reading values  \
0                             NaN     V                 NaN       2,29,000
1                             NaN     V                 NaN       2,31,900
2                             NaN     V                 NaN       2,26,500
3                             NaN     V                 NaN       2,32,200
4                             NaN     V                 NaN       2,31,000
...                           ...   ...                 ...            ...
107609  2022-09-01T01:00:00+02:00  kvar  Daily Load Profile          0,000
107610  2022-09-01T01:00:00+02:00  kvar  Daily Load Profile          0,000
107611  2022-09-01T01:00:00+02:00  kvar  Daily Load Profile          0,195
107612  2022-09-01T01:00:00+02:00  kvar  Daily Load Profile          0,125
107613  2022-09-01T01:00:00+02:00  kvar  Daily Load Profile          0,230

              OBIS code Status word Reading reason
0       1-0:32.24.0*255   No errors       Periodic
1       1-0:32.26.0*255   No errors       Periodic
2       1-0:32.23.0*255   No errors       Periodic
3       1-0:52.24.0*255   No errors       Periodic
4       1-0:72.24.0*255   No errors       Periodic
...                 ...         ...            ...
107609   1-0:43.7.0*255   No errors       Periodic
107610   1-0:63.7.0*255   No errors       Periodic
107611   1-0:24.7.0*255   No errors       Periodic
107612   1-0:44.7.0*255   No errors       Periodic
107613   1-0:64.7.0*255   No errors       Periodic

[2113347 rows x 9 columns]>

In [11]:
# con_df1.to_excel("output.xlsx")
# con_df2.to_excel("output2.xlsx")
# con_df3.to_excel("output3.xlsx")

In [12]:
df_kWh_kvarh = pd.concat([con_df1[con_df1['Unit'] == 'kWh'], con_df1[con_df1['Unit'] == 'kvarh'],con_df1[con_df1['Unit'] == 'kWh'], con_df1[con_df1['Unit'] == 'kvarh'],con_df2[con_df2['Unit'] == 'kWh'], con_df3[con_df3['Unit'] == 'kvarh']])

In [13]:
# df_kWh_kvarh.to_excel("op1.xlsx")

In [14]:
df_kWh_kvarh.dtypes

Reading time      object
Insert time       object
Capture time      object
Unit              object
Profile           object
Reading values    object
OBIS code         object
Status word       object
Reading reason    object
dtype: object

In [15]:
def convert_to_float(value):
    # Replace spaces with empty string and commas with empty string
    value = value.replace(' ', '').replace(',', '')
    # Convert to float
    return float(value)

# Apply the function to the 'Number' column
df_kWh_kvarh['Reading values'] = df_kWh_kvarh['Reading values'].apply(convert_to_float)

# df_kWh_kvarh.to_excel("op3.xlsx")

In [16]:
df_kWh_kvarh['Reading values'].head()

9     2222708.0
10          0.0
22    2223528.0
23          0.0
44    2224335.0
Name: Reading values, dtype: float64

In [17]:
def calculate_alternate_differences(column):
    for i in range(len(column)-1, 1, -2):
        column[i] = column[i] - column[i-2]
    for i in range(len(column)-2, 1, -2):
        column[i] = column[i] - column[i-2]
    return column

# Apply the function to the 'Reading values' column
df_kWh_kvarh['Reading values'] = calculate_alternate_differences(df_kWh_kvarh['Reading values'].tolist())

In [18]:
df_kWh_kvarh.head()

,Reading time,Insert time,Capture time,Unit,Profile,Reading values,OBIS code,Status word,Reading reason
9,2022-04-01T01:15:00+02:00,2022-04-01T02:23:12+02:00,NaN,kWh,NaN,2222708.0,1-0:1.8.0*255,No errors,Periodic
10,2022-04-01T01:15:00+02:00,2022-04-01T02:23:12+02:00,NaN,kWh,NaN,0.0,1-0:2.8.0*255,No errors,Periodic
22,2022-04-01T01:30:00+02:00,2022-04-01T02:23:12+02:00,NaN,kWh,NaN,820.0,1-0:1.8.0*255,No errors,Periodic
23,2022-04-01T01:30:00+02:00,2022-04-01T02:23:12+02:00,NaN,kWh,NaN,0.0,1-0:2.8.0*255,No errors,Periodic
44,2022-04-01T01:45:00+02:00,2022-04-01T02:23:12+02:00,NaN,kWh,NaN,807.0,1-0:1.8.0*255,No errors,Periodic

In [19]:
df_kWh_kvarh['Reading time']=pd.to_datetime(df_kWh_kvarh['Reading time'], utc=True)

df_kWh_kvarh['Reading date']=df_kWh_kvarh['Reading time'].dt.date
df_kWh_kvarh['Reading time']=df_kWh_kvarh['Reading time'].dt.time

df_kWh_kvarh['Insert time']=pd.to_datetime(df_kWh_kvarh['Insert time'], utc=True)

df_kWh_kvarh['Insert date']=df_kWh_kvarh['Insert time'].dt.date
df_kWh_kvarh['Insert time']=df_kWh_kvarh['Insert time'].dt.time

In [20]:
newdata_cols=['Reading date', 	'Reading time', 'Insert date', 'Insert time', 'Capture time', 'Unit', 'Profile',	'Reading values',	'OBIS code',	'Status word',	'Reading reason',]

In [21]:
df_kWh_kvarh=df_kWh_kvarh.reindex(columns=newdata_cols)
df_kWh_kvarh.head()
# df_kWh_kvarh.to_excel("op5.xlsx")

,Reading date,Reading time,Insert date,Insert time,Capture time,Unit,Profile,Reading values,OBIS code,Status word,Reading reason
9,2022-03-31,23:15:00,2022-04-01,00:23:12,NaN,kWh,NaN,2222708.0,1-0:1.8.0*255,No errors,Periodic
10,2022-03-31,23:15:00,2022-04-01,00:23:12,NaN,kWh,NaN,0.0,1-0:2.8.0*255,No errors,Periodic
22,2022-03-31,23:30:00,2022-04-01,00:23:12,NaN,kWh,NaN,820.0,1-0:1.8.0*255,No errors,Periodic
23,2022-03-31,23:30:00,2022-04-01,00:23:12,NaN,kWh,NaN,0.0,1-0:2.8.0*255,No errors,Periodic
44,2022-03-31,23:45:00,2022-04-01,00:23:12,NaN,kWh,NaN,807.0,1-0:1.8.0*255,No errors,Periodic

In [22]:
df_V_A = pd.concat([con_df1[con_df1['Unit'] == 'V'],con_df1[con_df1['Unit'] == 'V'],con_df2[con_df2['Unit'] == 'V']])

In [23]:
def convert_to_float(value):
    # Replace spaces with empty string and commas with empty string
    value = value.replace(' ', '').replace(',', '')
    # Convert to float
    return float(value)

# Apply the function to the 'Number' column
df_V_A['Reading values'] = df_V_A['Reading values'].apply(convert_to_float)

In [24]:
def calculate_alternate_differences(column):
    for i in range(len(column)-1, 1, -1):
        column[i] = column[i] - column[i-1]
    return column

# Apply the function to the 'Reading values' column
df_V_A['Reading values'] = calculate_alternate_differences(df_V_A['Reading values'].tolist())

In [25]:
df_V_A = pd.concat([con_df1[con_df1['Unit'] == 'A'],con_df1[con_df1['Unit'] == 'A'],con_df2[con_df2['Unit'] == 'A'],df_V_A[df_V_A['Unit'] == 'V']])

In [26]:
df_V_A.head()

,Reading time,Insert time,Capture time,Unit,Profile,Reading values,OBIS code,Status word,Reading reason
889,2022-04-01T13:42:40+02:00,2022-04-02T08:07:52+02:00,NaN,A,NaN,"18,288",1-0:51.26.1*255,No errors,Periodic
1083,2022-04-01T16:23:43+02:00,2022-04-02T08:07:52+02:00,NaN,A,NaN,"15,338",1-0:71.26.1*255,No errors,Periodic
1229,2022-04-01T18:28:40+02:00,2022-04-02T08:07:52+02:00,NaN,A,NaN,"22,176",1-0:31.26.1*255,No errors,Periodic
1678,2022-04-02T02:40:52+02:00,2022-04-02T15:42:34+02:00,NaN,A,NaN,"13,695",1-0:51.26.1*255,No errors,Periodic
2010,2022-04-02T07:24:12+02:00,2022-04-02T15:42:34+02:00,NaN,A,NaN,"19,978",1-0:31.26.1*255,No errors,Periodic

In [27]:
df_V_A.shape

(1857819, 9)

In [28]:
df_V_A['Reading time']=pd.to_datetime(df_V_A['Reading time'], utc=True)

df_V_A['Reading date']=df_V_A['Reading time'].dt.date
df_V_A['Reading time']=df_V_A['Reading time'].dt.time

df_V_A['Insert time']=pd.to_datetime(df_V_A['Insert time'], utc=True)

df_V_A['Insert date']=df_V_A['Insert time'].dt.date
df_V_A['Insert time']=df_V_A['Insert time'].dt.time

In [29]:
df_V_A=df_V_A.reindex(columns=newdata_cols)
df_V_A.head()
# df_V_A.to_csv("op6.csv", index=False)

,Reading date,Reading time,Insert date,Insert time,Capture time,Unit,Profile,Reading values,OBIS code,Status word,Reading reason
889,2022-04-01,11:42:40,2022-04-02,06:07:52,NaN,A,NaN,"18,288",1-0:51.26.1*255,No errors,Periodic
1083,2022-04-01,14:23:43,2022-04-02,06:07:52,NaN,A,NaN,"15,338",1-0:71.26.1*255,No errors,Periodic
1229,2022-04-01,16:28:40,2022-04-02,06:07:52,NaN,A,NaN,"22,176",1-0:31.26.1*255,No errors,Periodic
1678,2022-04-02,00:40:52,2022-04-02,13:42:34,NaN,A,NaN,"13,695",1-0:51.26.1*255,No errors,Periodic
2010,2022-04-02,05:24:12,2022-04-02,13:42:34,NaN,A,NaN,"19,978",1-0:31.26.1*255,No errors,Periodic

In [30]:
print(df_kWh_kvarh.head())
print(df_V_A.head())

   Reading date Reading time Insert date Insert time Capture time Unit  \
9    2022-03-31     23:15:00  2022-04-01    00:23:12          NaN  kWh
10   2022-03-31     23:15:00  2022-04-01    00:23:12          NaN  kWh
22   2022-03-31     23:30:00  2022-04-01    00:23:12          NaN  kWh
23   2022-03-31     23:30:00  2022-04-01    00:23:12          NaN  kWh
44   2022-03-31     23:45:00  2022-04-01    00:23:12          NaN  kWh

   Profile  Reading values      OBIS code Status word Reading reason
9      NaN       2222708.0  1-0:1.8.0*255   No errors       Periodic
10     NaN             0.0  1-0:2.8.0*255   No errors       Periodic
22     NaN           820.0  1-0:1.8.0*255   No errors       Periodic
23     NaN             0.0  1-0:2.8.0*255   No errors       Periodic
44     NaN           807.0  1-0:1.8.0*255   No errors       Periodic
     Reading date Reading time Insert date Insert time Capture time Unit  \
889    2022-04-01     11:42:40  2022-04-02    06:07:52          NaN    A
1083   2022-04-01     14:23:43  2022-04-02    06:07:52          NaN    A
1229   2022-04-01     16:28:40  2022-04-02    06:07:52          NaN    A
1678   2022-04-02     00:40:52  2022-04-02    13:42:34          NaN    A
2010   2022-04-02     05:24:12  2022-04-02    13:42:34          NaN    A

     Profile Reading values        OBIS code Status word Reading reason
889      NaN         18,288  1-0:51.26.1*255   No errors       Periodic
1083     NaN         15,338  1-0:71.26.1*255   No errors       Periodic
1229     NaN         22,176  1-0:31.26.1*255   No errors       Periodic
1678     NaN         13,695  1-0:51.26.1*255   No errors       Periodic
2010     NaN         19,978  1-0:31.26.1*255   No errors       Periodic

In [31]:
df_all = pd.concat([df_V_A, df_kWh_kvarh], axis=0, ignore_index=True)  # Adjust axis if needed
print(df_all.head())

  Reading date Reading time Insert date Insert time Capture time Unit Profile  \
0   2022-04-01     11:42:40  2022-04-02    06:07:52          NaN    A     NaN
1   2022-04-01     14:23:43  2022-04-02    06:07:52          NaN    A     NaN
2   2022-04-01     16:28:40  2022-04-02    06:07:52          NaN    A     NaN
3   2022-04-02     00:40:52  2022-04-02    13:42:34          NaN    A     NaN
4   2022-04-02     05:24:12  2022-04-02    13:42:34          NaN    A     NaN

  Reading values        OBIS code Status word Reading reason
0         18,288  1-0:51.26.1*255   No errors       Periodic
1         15,338  1-0:71.26.1*255   No errors       Periodic
2         22,176  1-0:31.26.1*255   No errors       Periodic
3         13,695  1-0:51.26.1*255   No errors       Periodic
4         19,978  1-0:31.26.1*255   No errors       Periodic

In [32]:
# df_all.to_csv("op7.csv", index=False)

In [33]:
df_all=df_all.reindex(columns=alldata_cols)

In [34]:
print(df_all)

        Reading date Reading time   Unit       Profile Reading values  \
0         2022-04-01     11:42:40      A           NaN         18,288
1         2022-04-01     14:23:43      A           NaN         15,338
2         2022-04-01     16:28:40      A           NaN         22,176
3         2022-04-02     00:40:52      A           NaN         13,695
4         2022-04-02     05:24:12      A           NaN         19,978
...              ...          ...    ...           ...            ...
2481674   2022-08-31     22:45:00  kvarh  LoadProfile1          138.0
2481675   2022-08-31     22:45:00  kvarh           NaN            0.0
2481676   2022-08-31     22:45:00  kvarh           NaN            0.0
2481677   2022-08-31     23:00:00  kvarh  LoadProfile1            0.0
2481678   2022-08-31     23:00:00  kvarh  LoadProfile1           43.0

               OBIS code Status word Reading reason
0        1-0:51.26.1*255   No errors       Periodic
1        1-0:71.26.1*255   No errors       Periodic
2        1-0:31.26.1*255   No errors       Periodic
3        1-0:51.26.1*255   No errors       Periodic
4        1-0:31.26.1*255   No errors       Periodic
...                  ...         ...            ...
2481674    1-0:4.8.0*255   No errors       Periodic
2481675    1-0:3.8.0*255   No errors       Periodic
2481676    1-0:4.8.0*255   No errors       Periodic
2481677    1-0:3.8.0*255   No errors       Periodic
2481678    1-0:4.8.0*255   No errors       Periodic

[2481679 rows x 8 columns]

In [35]:
df_all['Reading date'] = pd.to_datetime(df_all['Reading date']).dt.date.astype(str)
df_all['Reading time'] = df_all['Reading time'].astype(str)
df_all['Timestamp'] = pd.to_datetime(df_all['Reading date'] + ' ' + df_all['Reading time'])

In [36]:
filtered_df = df_all[df_all['Unit'] == 'V']

print(filtered_df)

        Reading date Reading time Unit             Profile Reading values  \
8418      2022-03-31     23:10:00    V                 NaN       229000.0
8419      2022-03-31     23:10:00    V                 NaN       231900.0
8420      2022-03-31     23:10:00    V                 NaN        -5400.0
8421      2022-03-31     23:10:00    V                 NaN         5700.0
8422      2022-03-31     23:10:00    V                 NaN        -1200.0
...              ...          ...  ...                 ...            ...
1857814   2022-08-31     23:00:00    V        LoadProfile2        -1400.0
1857815   2022-08-31     23:00:00    V        LoadProfile2      2113800.0
1857816   2022-08-31     23:00:00    V  Daily Load Profile     -2114700.0
1857817   2022-08-31     23:00:00    V  Daily Load Profile         2100.0
1857818   2022-08-31     23:00:00    V  Daily Load Profile         -600.0

               OBIS code Status word Reading reason           Timestamp
8418     1-0:32.24.0*255   No errors       Periodic 2022-03-31 23:10:00
8419     1-0:32.26.0*255   No errors       Periodic 2022-03-31 23:10:00
8420     1-0:32.23.0*255   No errors       Periodic 2022-03-31 23:10:00
8421     1-0:52.24.0*255   No errors       Periodic 2022-03-31 23:10:00
8422     1-0:72.24.0*255   No errors       Periodic 2022-03-31 23:10:00
...                  ...         ...            ...                 ...
1857814  1-0:72.23.0*255   No errors       Periodic 2022-08-31 23:00:00
1857815  1-0:72.24.0*255   No errors       Periodic 2022-08-31 23:00:00
1857816   1-0:32.7.0*255   No errors       Periodic 2022-08-31 23:00:00
1857817   1-0:52.7.0*255   No errors       Periodic 2022-08-31 23:00:00
1857818   1-0:72.7.0*255   No errors       Periodic 2022-08-31 23:00:00

[1849401 rows x 9 columns]

In [37]:
df_all = df_all.drop_duplicates(subset=['Timestamp', 'Unit'], keep='first')
df_filtered = df_all[df_all['Unit'] != 'V']
df_pall=df_filtered.pivot(index="Timestamp", columns="Unit", values="Reading values").reset_index()

In [38]:
print(df_pall)

Unit            Timestamp    A        kWh     kvarh
0     2021-12-31 23:15:00  NaN  7703331.0  512948.0
1     2021-12-31 23:30:00  NaN     1100.0       0.0
2     2021-12-31 23:45:00  NaN     1017.0       0.0
3     2022-01-01 00:00:00  NaN      997.0       0.0
4     2022-01-01 00:15:00  NaN      861.0       0.0
...                   ...  ...        ...       ...
26413 2022-08-31 22:00:00  NaN       77.0       4.0
26414 2022-08-31 22:15:00  NaN       67.0       2.0
26415 2022-08-31 22:30:00  NaN      193.0       0.0
26416 2022-08-31 22:45:00  NaN       50.0       1.0
26417 2022-08-31 23:00:00  NaN       41.0       0.0

[26418 rows x 4 columns]

In [40]:

df_pall.columns.name = None  # Remove the name of the columns index
df_pall.columns = ['Timestamp'] + df_filtered['Unit'].unique().tolist()

In [41]:
print(df_pall)

                Timestamp    A        kWh     kvarh
0     2021-12-31 23:15:00  NaN  7703331.0  512948.0
1     2021-12-31 23:30:00  NaN     1100.0       0.0
2     2021-12-31 23:45:00  NaN     1017.0       0.0
3     2022-01-01 00:00:00  NaN      997.0       0.0
4     2022-01-01 00:15:00  NaN      861.0       0.0
...                   ...  ...        ...       ...
26413 2022-08-31 22:00:00  NaN       77.0       4.0
26414 2022-08-31 22:15:00  NaN       67.0       2.0
26415 2022-08-31 22:30:00  NaN      193.0       0.0
26416 2022-08-31 22:45:00  NaN       50.0       1.0
26417 2022-08-31 23:00:00  NaN       41.0       0.0

[26418 rows x 4 columns]

In [49]:
df_pall['Minute'] = pd.to_datetime(df_pall['Timestamp']).dt.minute

# Keep only rows where the minute is in [0, 15, 30, 45]
df_pall = df_pall[df_pall['Minute'].isin([0, 15, 30, 45])]

# Count the occurrences of each minute value
minute_counts = df_pall['Minute'].value_counts().sort_index()

# Drop the 'Minute' column as it's no longer needed
df_pall = df_pall.drop(columns=['Minute'], errors='ignore')

print(minute_counts)

Minute
0     5879
15    5897
30    5876
45    5889
Name: count, dtype: int64

In [51]:
df_pall.to_csv("pivot2.csv", index=False)